* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
.navbar {
  height: 60px;
  background-color: #040D43;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px 12px;
}

.navbar__mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 60px;
  right: 0;
  height: 250px;
  background-color: #040D43;
  border-radius: 4px;
  font-size: 25px;
}

#burger {
  display: none;
  cursor: pointer;
}

.img__ita-logo {
  width: 200px;
}

.navbar__ul, .navbar__mobile__ul {
  list-style: none;
  display: flex;
}

.navbar__ul > li > a , .navbar__mobile__ul >li > a{
  font-weight: 400;
  padding: 0px 16px;
  text-decoration: none;
  color: rgb(217, 217, 217);
}

.navbar__ul a:hover, .navbar__mobile__ul a:hover {
  color: blue;
}

.section__title {
  height: 100vh;
  background-color: #0C1356;
  color: white;
  font-weight: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0px 22px;
}

.section__left-side {
  height: 100vh;
  width: 30%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.section__left-side img {
  width: 250px;
}

.action-button {
  width: 200px;
  padding: 1.3em 3em;
  font-size: 14px;
  font-weight: 500;
  color: white;
  background-color: #E84991;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.section__title__button:hover {
  background-color: #E84991;
  box-shadow: 0px 5px 5px #cc6995;
  color: #fff;
  transform: translateY(-7px);
}

.section__title__button:active {
  transform: translateY(-1px);
}

.section__right-side-img {
  width: 450px;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__left-side {
  width: 50%;
  margin: 0px 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 24px;
}

.main__left-side a {
  margin: 34px 0px;
  text-decoration: none;
  color:#E84991;
}

.main__left-side a:hover {
  text-decoration: underline;
}

.main__left-side h3 {
  font-weight: 400;
  font-size: 30px;
  margin-top: 24px;
}

.main__left-side p {
  font-size: 14px;
  margin-top: 12px;
}

.main__right-side {
  width: 50%;
  display: flex;
  justify-content: right;
}

.main__right-side img {
  object-fit: cover;
  height: 100vh;
  width: 100%;
  border-top-left-radius: 52px;
  border-bottom-left-radius: 46px;
}

.trendig_topics {
  margin: 34px;
}

.trendig_topics h2 {
  margin-left: 52px;
  margin-bottom: 52px;
  font-size: 36px;
}

.trendig_topics strong {
  color:#E84991;
}

.trending-topics__grid {
  display: grid;
  gap: 16px;
  place-content: center;
  grid-template-columns: repeat(auto-fit, minmax(210px, auto));
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card img {
  width: 210px;
  height: 250px;
  object-fit: cover;
  border-radius: 15px;
}

.card button {
  width: 120px;
  height: 30px;
  padding: 6px;
  font-size: 12px;
  margin-top: -42px;
  align-items: center;
}


.news-section-tittle {
  margin: 64px;
  font-size: 36px;
  font-weight: 300;
}

.more_news__grid {
  display: grid;
    gap: 8px;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    justify-content: space-evenly;
}

.more-news-card {
  padding: 18px;
  width: 216px;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  border-radius: 10px;
    background: #ffffff;
    box-shadow: -1px -1px 2px #b3caec,
      3px 3px 20px #8baee4;
}

.date {
  font-size: 10px;
  font-weight: 100;
}

.new-description {
  font-size: 13px;
}

.see-more {
  text-decoration: none;
  color: #E84991;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-around;
  color: white;
  margin-top: 74px;
  height: 175px;
  background-color: #040D43;
  justify-content: center;
}

.info {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.info img {
  width: 30px;
  height: 30px;
}

.info h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.copyright {
  font-size: 10px;
}

@media (max-width: 880px) {

  #burger {
      display: inline;
    }

  .navbar {
    justify-content: space-between;
  }

  .navbar__ul {
    display: none;
  }

  .section__left-side {
    width: 300px;
  }

  .section__right-side-img {
    width: 320px;
  }
}

@media (max-width: 650px) {
  
    .section__right-side-img {
        width: 220px;
      }
    .main-section {
      display: flex;
      flex-direction: column;
    }

    .main__right-side img {
      width: 100%;
    }

    .main__right-side {
      -webkit-border-top-left-radius: 0px;
      -webkit-border-bottom-left-radius: 0px;
      -moz-border-radius-topleft: 0px;
      -moz-border-radius-bottomleft: 0px;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
      width: 100%;
    }

  .main__right-side img {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    }
  }

@media (max-width: 550px) {
  .section__title {
    display: flex;
    flex-direction: column;
  }
  .section__left-side {
    align-items: center;
  }

    .section__right-side-img {
      width: 320px;
    }
}

@media (max-width: 430px) {
  
  
}